extends layout
block content
  body(ng-app='RoutingApp')
    h2 AngularJS Routing Example
    p
      | Jump to the 
      a(href='#first') first
      |  or 
      a(href='#second') second page
    div(ng-view='')
