doctype html
html
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
  script(src='js/playergetter.js')
  body
    div(ng-app='playerGetModule', ng-controller='playerGetController')
       ul
        li(ng-repeat='x in names')
          p Name: 
            {{ x.playername }}
          p Team: 
            {{ x.team}}
          p Luck:
            {{ x.stats.luck}}
          p Macro:
            {{ x.stats.macro}}
